body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
  background-color: #f0f2f5;
}

form {
  text-align: center;
}

div {
  text-align: center;
}

input {
  width: 250px;
  padding: 8px;
  margin: 5px;
  display: block;
}

button {
  padding: 8px 20px;
  margin-top: 10px;
  cursor: pointer;
}